@model IEnumerable<RestaurantMVC.Models.Review>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reviews</title>
</head>
<body>
    <div>
        <ol>
            @foreach(var review in Model)
            {
                <li>@review.Name</li>
                <li>@review.Summary</li>
                <li>@review.Rating</li>
                <li>.............</li>
            }
        </ol>
    </div>
</body>
</html>
