<link rel="stylesheet" href="~/Content/About.css">

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="about-box">
                <div class="about-box-img">
                    <img src="http://www.freepngimg.com/thumb/pizza/7-pizza-png-image-thumb.png" alt="" />
                </div>
                <div class="info">
                    <h4 class="text-center title">Restaurant Reviews</h4>
                    <p>
                        Welcome to Restaurant Reviews! We are all passionate about eating and rating all types of food!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>